:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 2em);
  margin: 1em 1em;
  padding: 1em;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0 0 10px rgb(108, 108, 108);
}

div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

hr {
    color: black;
    width: 100%;
  }
