<form (ngSubmit)="login()" *ngIf="!authenticated" [formGroup]="loginForm">
  <div class="label_input_pair">
    <label for="email">Email</label>
    <input id="email"
           name="email"
           type="email"
           formControlName="email"
           placeholder="john@doe.com">
  </div>
  <div class="label_input_pair">
    <label for="password">Password</label>
    <input id="password"
           name="password"
           type="password"
           formControlName="password"
           placeholder="abc123">
  </div>
  <button type="submit" class="btn btn-outline-dark">Log in</button>
  <div *ngIf="apiLoginError">
    <div *ngFor="let error of apiLoginErrorMessages" class="form_error">
      {{ error }}
    </div>
  </div>
</form>
