# Compiled Python
__pycache__/
dist/
tmp/
out-tsc/

# Collected staticfiles
backend/static/admin
backend/static/rest_framework

# Node dependencies
node_modules/
frontend/package.json
frontend/package-lock.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Database files
*.sqlite3

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.DS_Store

# e2e
e2e/*.js
e2e/*.map
