aioredis==1.0.0
asgiref==2.1.6
async-timeout==2.0.0
attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
certifi==2018.4.16
channels==2.0.2
channels-redis==2.1.0
chardet==3.0.4
constantly==15.1.0
daphne==2.0.4
Django==2.1
django-cors-headers==2.2.0
djangorestframework==3.7.7
hiredis==0.2.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
msgpack==0.5.6
psycopg2==2.7.5
psycopg2-binary==2.7.5
pytz==2018.3
requests==2.18.4
six==1.11.0
Twisted==17.9.0
txaio==2.9.0
urllib3==1.22
zope.interface==4.4.3
