@import "/src/variables";
:host {
  display: block;
  height: 12%;
}

#header {
  display: block;
  height: 100%;
  margin: auto;
  
  .link-unadorned {
    text-decoration: none;
    color: black !important;
  }

  h5 {
    font-size: 2rem;
  }

  #main-navigation {
    #authenticated {

    }

    #unathenticated{

    }
  }
}

