<div id="header">

  <div id="logo_box">

    <h1 routerLink="/">HOME</h1>

  </div>


  <div *ngIf="authenticated; else unauthenticated"
       id="authenticated"
       class="auth_container">

    <app-event-overview class="event_overview"></app-event-overview>
    <div class="account_dropdown">

      <i class="material-icons">account_circle</i>
      <div class="dropdown_content">

        <button routerLink="/user">Account</button>
        <app-auth-logout></app-auth-logout>

      </div>

    </div>

  </div>


  <ng-template #unauthenticated>

    <div id="unauthenticated" class="auth_container">

      <button routerLink="/sign-up">Sign up</button>

    </div>

  </ng-template>


  <nav *ngIf="authenticated"
       id="main_navigation">

      <a routerLink="/home">HOMEs</a>

  </nav>


</div>
