<div id="header">
  <nav id="main_navigation">
    <a routerLink="/">Start</a>
    <a routerLink="/does-not-exist">Does not exist</a>
    <a routerLink="/device">Device</a>
    <a routerLink="/home">Home</a>
    <a routerLink="/hume">Hume</a>
  </nav>

  <app-event-overview></app-event-overview>

  <div *ngIf="authenticated" (mouseover)="showAccountInfo=true" (mouseleave)="showAccountInfo=false">
    <i class="material-icons">account_circle</i>
    <app-auth-logout *ngIf="showAccountInfo"></app-auth-logout>
  </div>
</div>
