@import "/src/variables";
:host {
  display: block;
  height: 12%;
}

#header {
  display: block;
  height: 100%;
  margin: auto;

  .link-unadorned {
    text-decoration: none;
    color: black !important;
  }

  h5 {
    font-size: 2rem;
  }

  #main-navigation {
    #authenticated {
      .d-inline-block.dropdown {
        cursor: pointer;

        .dropdown-toggle::after {
          display: none;
        }
      }
      .d-inline-block.show.dropdown {
        .dropdown-menu.show {
          display: flex;
          flex-direction: column;
        }
      }
    }

    #unathenticated {
    }
  }
}
.btn {
  margin: 5px;
}
