:host {
}

div.latency_testing_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  div.test_setup_container {
    display: flex;
    flex-direction: column;

    div.icon_container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      p {
        font-size: 0.5em;
        color: lightgray;
      }

      span.icon {
        display: block;
        font-size: 3em;
        color: lightgray;
      }
    }
  }

  div.test_result_container {
    display: flex;
  }
}
