:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(100% - 2em);
  margin: 1em 1em;
  padding: 1em;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0 0 10px rgb(108, 108, 108);
}

@keyframes colorchange {
  0% {background-color: red;}
  10% {background-color: green;}
  20% {background-color: pink;}
  30% {background-color: turquoise;}
  40% {background-color: blue;}
  50% {background-color: purple;}
  60% {background-color: yellow;}
  70% {background-color: yellowgreen;}
  80% {background-color: lime;}
  90% {background-color: orange;}
  100% {background-color: orangered;}
}

.user_container {
  .godmode_container {
    display: flex;
    justify-content: center;

    button {
      font-size: 3em;
      animation: colorchange 10s infinite;
      border: 0;
      color: white;
    }
  }

  h4 {
    margin-left: .5em;
  }
  #name_form {
    min-height: 6em;

    p {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 1.5em;
      font-size: 1.5em;
      margin-top: 1em;
      margin-left: 1em;
      margin-right: 1em;

      span {
        border-radius: 0.1em;
        height: 100%;
        margin-right: 0.1em;
        padding: 3px;
      }
      input {
        border-radius: 0.1em;
        height: 100%;
        margin-right: 0.1em;
        padding: 3px;
      }

      span.name:hover {
        padding: 2px;
        border: 1px solid gray;
      }
    }

    button {
      margin-left: 1em;
    }
  }
}

#email_form {
  div.label_input_pair {
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      button {
        margin-left: 1em;
      }
    }
  }
}

#auth_form {
  margin-bottom: 1em;
  #auth_submit {
    margin: 1em 1em 0 1em;
    button {
      width: 100%;
    }
  }
}
