<div id="info">
  This is an <a href="https://docs.google.com/document/d/10TlfaDATr6rRMBMCAHf06O2sNa58eLr3zqgqF7w1Qs4/edit?usp=sharing">Open Home</a> compliant site
  <div>Check us out on <a href="https://github.com/open-home-iot">GitHub</a></div>
  <div>
    Read the
    <a href="https://docs.google.com/document/d/10TlfaDATr6rRMBMCAHf06O2sNa58eLr3zqgqF7w1Qs4/edit?usp=sharing">
      specification
    </a>
  </div>
</div>
<div id="specs">
  <p>Revision information:</p>
  <p>v{{ appInfo.tag }}</p>
  <p>{{ appInfo.commit_id }}</p>
</div>
