:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 2em);
  height: calc(70vh - 2em);
  margin: 1em 1em;
  padding: 1em;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0 0 10px rgb(108, 108, 108);

  div.signup_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#sign_up_form {
  width: 25em;

  .sign_up_form_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      margin: 1em 1em 0 1em;
    }
  }
}
