:host {
  width: 100%;
  min-height: 70vh;
  height: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign_up_form {
  width: 25em;

  .sign_up_form_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      margin: 1em 1em 0 1em;
    }
  }
}
