:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign_up_form {
  width: 25%;
  height: 20%;

  .sign_up_form_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .label_input_pair {
      display: flex;
      justify-content: space-between;
    }

    #sign_up_submit {
      width: 100%;
    }
  }
}
