<div>
  <h2>Surveillance</h2>

  <app-surveillance-configuration></app-surveillance-configuration>

  <div>
    <h3>Alarm indication</h3>
    <p *ngIf="alarmRaised; else no_alarm">Alarm raised!</p>
    <ng-template #no_alarm>No alarm</ng-template>
  </div>

  <div>
    <h3>Pictures</h3>
    <input type="button" value="Previous" (click)="stepDate(false)">
     {{ currentDisplayDate | date: 'yyyy MMMM' }}
    <input type="button" value="Next" (click)="stepDate(true)">

    <br/>
    <!--If handles null returns for no additional results-->
    <input type="button" value="Show more results" (click)="stepPictures(false)">

    <ul>
      <li *ngFor="let picture of pictures">
        <a [routerLink]="['picture', picture]">
          {{ picture }}
        </a>
      </li>
    </ul>

    <!--If handles null returns for no additional results-->
    <input type="button" value="Show more results" (click)="stepPictures(true)">

    <router-outlet></router-outlet>

    <h3>Alarm history</h3>

    <!--If handles null returns for no additional results-->
    <input type="button" value="Show more results" (click)="stepHistory(false)">


    <ul>
      <li *ngFor="let history of alarmHistory">
        {{ history }}
      </li>
    </ul>

    <!--If handles null returns for no additional results-->
    <input type="button" value="Show more results" (click)="stepHistory(true)">

  </div>

</div>
