<div class="dropdown">
  <a class="p-2 text-dark">Rooms</a>
  <div class="dropdown_content">
    <div class="room_list_item">
      <div class="space_taker">
        <i [hidden]="roomID != null" class="material-icons check_green">check</i>
      </div>
      <a (click)="selectNewRoom(null)">None</a>
    </div>
    <div class="room_list_item" *ngFor="let room of rooms">
      <div class="space_taker">
        <i [hidden]="roomID != room.id" class="material-icons check_green">check</i>
      </div>
      <a (click)="selectNewRoom(room.id)">{{ room.name }}</a>
    </div>
  </div>
</div>
