<div class="device_header">
  <div class="device_heading">
    <h4>{{ device.name }}</h4>
    <h5>{{ device.type_name }}</h5>
  </div>
  <app-device-room-selector [roomID]="device.room"
                            (roomSelectedEvent)="onRoomSelected($event)">
  </app-device-room-selector>
</div>

<div>
  <div *ngFor="let state_group of state_groups | keyvalue" class="device_action_set">
    {{ state_group.key | uppercase }}
    <div *ngFor="let state of state_group.value">
      <button (click)="stateChange(state)">{{ state.state_name | titlecase }}</button>
    </div>
  </div>
</div>

<div class="device_footer">
  <hr>
  <span class="device_details">UUID: {{ device.uuid }}</span>
  <span class="device_details">Category: {{ device.category_name }}</span>
</div>
