:host {
  padding: 0.5em;
  background-color: white;
  border: 1px solid gray;

  div.device_header {
    display: flex;
    justify-content: space-between;
  }

  div.device_action_set {
    margin: 0.2em;
    padding: 0.2em;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;

    div.state_group_actions {
      display: flex;
      flex-direction: row;

      button {
        background-color: white;
      }
      button:hover {
        background-color: black;
      }
    }
    div.state_group_actions button:not(:last-child) {
      margin-right: 0.2em;
    }
  }

  div.device_footer {
    hr {
      margin: .2em 0 0 0;
      padding: 0;
    }
    span.device_details {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 0.6em;
      color: lightgray;
    }
  }
}
