<div class="device_header">
  <div class="device_title_box">
    <h4>{{ device.name }}</h4>
    <span class="delete_icon icon material-icons" (click)="deleteDevice()">delete</span>
  </div>
  <h5>{{ device.type_name }}</h5>
</div>

<div *ngFor="let state_group of state_groups | keyvalue" class="device_action_set">
  {{ state_group.key | titlecase }}
  <div class="state_group_actions">
    <button *ngFor="let state of state_group.value"
            (click)="stateChange(state)"
            class="btn btn-outline-dark">{{ state.state_name }}</button>
  </div>
</div>

<div class="device_footer">
  <hr>
  <span class="device_details monospace">{{ device.uuid }}</span>
</div>
