<!--
1. If there is a home, show it. Show the favorite home only
2a. Allow to view another home if one exists
2b. Allow to create a new HOME
2c. Allow to favorite a HOME
3. If there is a home, allow to add a HUME even if one exists
4. Show if a HUME is already connected
5. If a HUME is connected, allow searching for devices even if a device is already present
6. Allow sectioning a HOME into rooms
7. Allow assigning a device to a room
8. Show devices under their respective rooms
9. Show state information for stateful devices
-->
<app-home-detail *ngIf="selectedHome; else elseBlock" [home]="selectedHome"></app-home-detail>
<ng-template #elseBlock>
  <app-home-add class="add_home_large"></app-home-add>
</ng-template>
