<!--
1. If there is a home, show it. Show the favorite home only
2a. Allow to view another home if one exists
2b. Allow to create a new HOME
2c. Allow to favorite a HOME
3. If there is a home, allow to add a HUME even if one exists
4. Show if a HUME is already connected
5. If a HUME is connected, allow searching for devices even if a device is already present
5.2 Attach a discovered device
6. Show state information for stateful devices
-->
<div class="home_overview_container" *ngIf="selectedHome; else elseBlock">
  <div class="home_header">
    <div class="home_name_container">
      <app-home-add class="add_home_small" style="z-index: 10"></app-home-add>
      <app-home-select (homeSelected)="homeSelected($event)"
                       [selectedHome]="selectedHome"
                       [homes]="homes">
      </app-home-select>
    </div>
    <app-hume-status (homeHumes)="homeHumes($event)"
                     [home]="selectedHome"></app-hume-status>
  </div>
  <hr>
  <div class="home_body">
    <app-device-list [home]="selectedHome"></app-device-list>
    <div class="discover_container">
      <app-device-discover *ngIf="humes && humes.length > 0"
                           [home]="selectedHome"
                           [humes]="humes"></app-device-discover>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="home_overview_container">
    <h2>Name your home</h2>
    <hr>
    <app-home-add (homeAdded)="homeAdded($event)" class="add_home_large"></app-home-add>
  </div>
</ng-template>
