:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 2em);
  margin: 1em 1em;
  padding: 1em;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0 0 10px rgb(108, 108, 108);
}

div.home_overview_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  hr {
    color: black;
    width: 100%;
  }

  div.home_header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.add_home_large {
  height: 20em;
  width: 20em;
}

.add_home_small {
  height: 2em;
  width: 2em;
  margin-right: 1em;
}
