<div>
  <h2>Login</h2>
  <form (ngSubmit)="onLogin(f)" #f="ngForm" *ngIf="!authenticated">
    <div>
      <label for="username">Username</label>
      <input
        id="username"
        name="username"
        type="email"
        ngModel>
    </div>
    <div>
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        ngModel>
    </div>
    <button type="submit">Log in</button>
  </form>
  <button (click)="onLogout()" *ngIf="authenticated">Log out</button>
</div>
