:host {
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: white;
  margin: 1em auto auto;
  border-radius: 1em;
}

h2 {
  margin: 1em;
}

p {
  margin: 1em;
}

ul {
  margin: 0 0 0 2em;
  list-style: circle;
}
