:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 2em);
  margin: 1em 1em;
  padding: 1em;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0 0 10px rgb(108, 108, 108);
}

h2 {
  margin: 1em;
}

p {
  margin: 1em;
}

ul {
  margin: 0 0 0 2em;
  list-style: circle;
}
