<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>HINT</title>

  {% load static %}

  <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
  <header>
    <h1>HINT</h1>
  </header>

  <div class="wrapper">
    <div>
      <h3>App-specific static file serving status</h3>
      <img width="50px" height="50px" src="{% static "img/smiley.jpg" %}" alt="There is an issue with django-app served static files"/>
    </div>

    <div>
      <h3>General static file serving status</h3>
      <img width="50px" height="50px" src="{% static "img/red_smiley.jpg" %}" alt="There is an issue with general served static files"/>
    </div>

    <div>
      <h3>jQuery status</h3>
      <p id="jquery_test">
        There is a problem with jQuery.
      </p>
    </div>
  </div>

  <div class="wrapper">
    <div>
      <h2>Request testing</h2>
    </div>

    <div>
      <h2>Websocket testing</h2>
    </div>
    <textarea id="websocket-log" cols="100" rows="20"></textarea><br />
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
  </div>


  <script>
    $(function() {
      var webSocket = new WebSocket('ws://' + window.location.host + '/ws/hume/3');

      webSocket.onmessage = function(e) {
          var data = JSON.parse(e.data);
          var message = data['message'];
          console.log("Got: " + message);
          document.querySelector('#websocket-log').value += (message + '\n');
      };

      webSocket.onclose = function(e) {
          console.error('Chat socket closed unexpectedly');
      };

      document.querySelector('#chat-message-input').focus();
      document.querySelector('#chat-message-input').onkeyup = function(e) {
          if (e.keyCode === 13) {  // enter, return
              document.querySelector('#chat-message-submit').click();
          }
      };

      document.querySelector('#chat-message-submit').onclick = function(e) {
          var messageInputDom = document.querySelector('#chat-message-input');
          var message = messageInputDom.value;
          console.log("Sent: " + message);
          webSocket.send(JSON.stringify({
              'message': message
          }));

          messageInputDom.value = '';
      };
    }); // end ready
  </script>
</body>
</html>
