<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/">

    {% load static %}

    <!--<link rel="stylesheet" href="{% static 'ang/styles.css' %}">-->
</head>
<body>

    <app-root></app-root>

    <script src="{% static 'ang/runtime.js' %}" type="module"></script>
    <script src="{% static 'ang/polyfills.js' %}" type="module"></script>
    <script src="{% static 'ang/styles.js' %}" type="module"></script>
    <script src="{% static 'ang/vendor.js' %}" type="module"></script>
    <script src="{% static 'ang/main.js' %}" type="module"></script>

</body>
</html>
